﻿<html>
<head>
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather report</title>

</head>
<body>
    <p>Nothing here</p>
</body>
</html>
